* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
h1 {
	font-size: 2.4rem;
	margin-inline: auto;
	margin-block: 2rem;
}
form {
	max-width: min(80%, 350px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-inline: auto;
}
input {
	font-size: 1.8rem;
	border-radius: 0.5rem;
	border: 1px solid black;
	padding: 0.5rem;
	margin-block: 1rem;
}
.radio-button {
	font-size: 1.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
input[type="submit"] {
	font-size: 1.8rem;
	width: 30%;
	margin-inline: auto;
}
.result {
	font-size: 1.8rem;
	border: 1px solid black;
	border-radius: 0.5rem;
	padding: 0.5rem;
	margin-block: 1rem;
}
.hidden {
	display: none;
}
